<html ng-app="TestApp">
	<head>
		<title>The MEAN stack</title>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
	</head>
	<body ng-controller="MainController as vm">
		
		<input type="text" ng-model="vm.message" />
		<br />
		{{ vm.message }}
		<br />
		<ul>
			<li ng-repeat="person in vm.people">
				{{ person.name }}
			</li>
		</ul>
		
		<script src="assets/js/app.js"></script>
	</body>
</html>